@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: BwSeidoRound;
  src: url(../public/fonts/BwSeidoRound-Thin.ttf);
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  /* overflow-scrolling: touch; */
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  background-color: #0E0E0E;
}

.container-vegza {
  width: 600vw;
  height: 100vh;
  display: flex; 
  flex-wrap: wrap;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background: yellow;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}
.panel {
  width: 96vw;
  /* width: 1740px; */
  height: 100vh;
}
.red {
  background: blue;
}
.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: blue;
}

.bg-homepage{
  background-image: url(./components/assets/vegza-desktop.png);
  background-repeat: no-repeat;
  /* background-size:cover;
  background-position: left; */
  background-position: left;
}

.firstServiceImage {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, rgb(14, 14, 14) 30%);
  mask-image: linear-gradient(to right, transparent 0%, rgb(14, 14, 14) 30%);
}
/* .secondServiceImage{
  -webkit-mask-image: linear-gradient(to left, transparent 10%, black 100%);
  mask-image: linear-gradient(to left, transparent 10%, black 100%);
} */

.vertical-text {
  writing-mode: horizontal-tb; /* Default horizontal text */
  transform: none; /* Reset rotation */

  @media (min-width: 1024px) { /* Adjust the minimum width as needed */
    writing-mode: vertical-rl; /* Vertical text for large devices */
    transform: rotate(180deg); /* Rotate 180 degrees */
  }
}

.bg-layer{
  background-image: url(../src//components/assets/Layer_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
}
