@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: BwSeidoRound;
  src: url(../public/fonts/BwSeidoRound-Thin.ttf);
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  /* overflow-scrolling: touch; */
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
  background-color: #0E0E0E;
}
html,
body {
  margin: 0;
  background-color: #0E0E0E;
}

.container-vegza {
  width: 600vw;
  height: 100vh;
  display: flex; 
  flex-wrap: wrap;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background: yellow;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}
.panel {
  width: 100vw;
  /* width: 1740px; */
  height: 100vh;
}
.red {
  background: blue;
}
.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: blue;
}
.testDiv{
  z-index:0;
}
.bg-homepage{
  background-image: url(./components/assets/vegza-desktop.png);
  background-repeat: no-repeat;
  /* background-size:cover;
  background-position: left; */
  background-position: left;
}

.firstServiceImage {
  -webkit-mask-image: linear-gradient(to bottom, transparent 0.5%, #0e0e0e8e 30%);
  mask-image: linear-gradient(to bottom, transparent 0.5%, #0e0e0e8e 30%);
}
@media (min-width: 1024px) {
  .firstServiceImage {
    -webkit-mask-image: linear-gradient(to right, transparent 0.5%, #0e0e0e8e 40%);
    mask-image: linear-gradient(to right, transparent 0.5%, #0e0e0e8e 40%);
  }
}

.vertical-text {
  writing-mode: horizontal-tb;
  transform: none; 

  @media (min-width: 1024px) { 
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
  }
 
}

.bg-layer{
  background-image: url(../src//components/assets/Layer_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.char {
  transform: translateY(115px);
  transition: transform .5s;
}


.animateThis path {
  stroke-dasharray: 1000; /* This should be more than the length of the path */
  stroke-dashoffset: 1000;
  animation: draw 5s forwards infinite; /* Adjust the duration as needed */
}

@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0E0E0E; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0E0E0E; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

.active{
  
  font-weight: 900;
}

.main_box {
  /* width: 90%; */
  /* height: 80vh; */
  display: flex;
}
.img {
  flex: 1;
  
 
  cursor: pointer;

  transition: all .5s;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid pink; */
  position: relative;
}
.main_box:hover .img {
  transform: skew(0);
}

.img:hover {
  flex: 2;
}


.custom-left-arrow, .custom-right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
}

.custom-left-arrow {
  left: 10px;
}

.custom-right-arrow {
  right: 10px;
}
.custom-right-arrow:hover{
  background-color: black;
}
.panelisima{
  width: 130vw;
  /* width: 1740px; */
  height: 100vh;
}

.hamburger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-menu span {
  display: block;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.serviceImages{
  filter: grayscale(100%);
}
.serviceImages:hover{
  filter: grayscale(0);
}

